#header
  .title
    %h1 PricerrTheme
    %p Create a micro-job site
  .search
    %input.text{:placeholder =>"Begin to search by typing here..."}
    %input.button{:type => "button", :value =>"Search"} 