%p Filter jobs by:
%a.sort.selected{:href => "#"}Auto
%a.sort{:href => "#"}New
%a.sort{:href => "#"}Rating
%a.sort{:href => "#"}Views
%a.sort{:href => "#"}Popularity
%a.sort{:href => "#"}Express Jobs
%a.sort{:href => "#"}Instant Delibery