.body_right
  .top
    %li{:href => "#"}New
    %li{:href => "#"}Rating
    %li{:href => "#"}Views
    %li{:href => "#"}Popularity
    %li{:href => "#"}Express Jobs
    %li{:href => "#"}Instant Delibery
    %li{:href => "#"}Instant Delibery
    %li{:href => "#"}Instant Delibery
    %li{:href => "#"}Instant Delibery
    %li{:href => "#"}Instant Delibery
    %li{:href => "#"}Instant Delibery
    %li{:href => "#"}Instant Delibery
    
  .bottom
    %li{:href => "#"}New
    %li{:href => "#"}Rating
    %li{:href => "#"}Views
    %li{:href => "#"}Popularity
    %li{:href => "#"}Express Jobs
    %li{:href => "#"}Instant Delibery
    %li{:href => "#"}Instant Delibery
    %li{:href => "#"}Instant Delibery
    %li{:href => "#"}Instant Delibery
    %li{:href => "#"}Instant Delibery
    
    